.c-slider{
	flex:  0 0 100%;
	position: relative;
	text-align: center;
	& li{
		text-align: center;
		position: absolute;
		left: 0;
		right: 0;
		font-size: 1.3rem;
		color: white;
		@include mq($small-large){
			font-size: 1.7rem;
		}
	}
}

.slider-text-1{
	animation: aparece 5s infinite;
	opacity: 0;
	@keyframes aparece {
		70%{opacity: 1;}
		100%{opacity: 1;}		
	}
}

.slider-text-2{
	animation: desaparece 5s infinite;
	opacity: 1;
	@keyframes desaparece{
		60%{opacity: 0;}
		100%{opacity: 0;}
	}
}

.c-header-img{
	display: block;
	width: 100%;
	// border: 2px solid red;
	@include mq($medium){
		width: 70%;
		margin: auto;
	}
}