.c-subtitle{
	color: white;
	@include mq($movil1){
		padding: 0 1rem;
	}
	& p{
		font-size: 1rem;
		@include mq($small-large){
			font-size: 1.3rem;
		}
	}
}

.c-time{
	color: white;
	// border: 2px solid green;
	&-number{
		font-size: 1.7rem;
		@include mq($small-large){
			font-size: 2.5rem;
		}
	}
	&-text{
		font-size: 1rem;
		@include mq($small-large){
			font-size: 1.3rem;
		}
	}
}

.c-form{
	padding: 0 .5rem;
	@include mq($movil1){
		padding: 0 1rem;
	}
	& input{
		width: 60%;
		line-height: 2;
		padding: 0 1rem;
		border: transparent;
		border-radius: 1rem 0 0 1rem;
		@include mq($movil1){
			width: 65%;
		}
	}
	& button{
		@include boton-ovalado;
		width: 40%;
		line-height: 2;
		padding: 0 .3rem;
		background-color: color(cta);
		color: white;
		border: transparent;
		border-radius: 0 1rem 1rem 0;
		@include mq($movil1){
			width: 35%;
		}
	}
}

.c-contacto{
	color: white;
	& p{
		flex: 0 0 100%;
		font-size: 1rem;
		@include mq($medium){
			flex: 0 0 42%;
			font-size: 1.2rem;
			// border: 2px solid green;
		}
	}
	& p:nth-child(2){
		@include mq($medium){
			text-align: right;
		}
	}
}

.c-sociales{
	& a{
		font-size: 1.5rem;
		color: white;
		transition: opacity .5s ease;
		&:hover{
			color: black;
			opacity: .7;
		}
	}
}

.c-boton{
	& button{
		@include boton-ovalado;
	}
}

.modal{
	display: flex;
	flex-direction: column;
	padding: 1rem;
	& h1{
		text-align: center;
		margin-bottom: 1rem;
	}
	& p{
		width: 70%;
		margin: 0 auto;
		margin-bottom: .5rem;
		// border: 2px solid red;
	}
	& button{
		width: 10%;
		margin: auto;
	}
}