.c-body{
	display: flex;
	width: 100%;
	height: auto;
	position: relative;
	flex-direction: column;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;	
	background-image: img('fondo.jpg');
	&::before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(48, 47, 47);
		// background: linear-gradient(to right top, #00a398, #2fac67);
		opacity: .5;
	}
}

.c-layout{
	position: relative;
	display: flex;
	flex-direction: column;
	// border: 4px solid blue;
	height: auto;
	min-height: 100vh;
}