.c-body{
	display: flex;
	height: 100vh;
	flex-direction: column;
	background-color: aqua;
}

.c-header{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	align-content: center;
	flex: 1 1 100%;
	height: 20vh;
	// border: 2px solid blue;
	& h1, h2{
		flex: 0 0 100%;
		text-align: center;
		// border: 2px solid green;
	}
}

.c-main{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex: 1 1 100%;
	height: auto;
	border: 2px solid yellow;
}

.c-subtitle, .c-contador, .c-form, .c-contacto, .c-sociales, .c-boton{
	text-align: center;
	flex: 0 0 100%;
	margin-bottom: 1rem;
	// border: 2px solid red;
}

.c-contador{
	display: flex;
	flex: 0 0 80%;
	margin: auto;
	margin-bottom: 1rem;
	justify-content: space-between;
	border: 2px solid red;
}

.c-form{
	display: flex;
	// border: 2px solid green;
	justify-content: center;
}

.c-boton{
	display: flex;
	justify-content: center;
	align-items: center;
}


.c-footer{
	display: flex;
	height: auto;
	align-items: flex-end;
	justify-content: center;
	flex: 1 1 100%;
	border: 2px solid green;
}