form(action="enviar.php" id="formulario" name="formulario" method="post")
	input(type="text" name="email" placeholder="Ingresa tu correo" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$")
	button(type="submit" id="btnSend" class="icon-check") Notifícame