main.c-main
	.c-subtitle
		p Quieres que te notifiquemos cuando esté listo nuestro sitio?
	.c-contador#clock
	.c-form
		input(type="email" name="email" placeholder="Ingresa tu correo")
		span
			button Notificame
			div(class="icon-check") 	
	.c-contacto
		p(class="icon"): span contacto@quintilvalley.cl 
		p(class="icon"): span +56 9 1234567
	.c-sociales
		a(class="icon-facebook" href="https://www.facebook.com/Quintil-Valley-376446842846566/?ref=br_rs" target="_blank")
		a(class="icon-twitter" href="https://twitter.com/ValleyQuintil" target="_blank")
		a(class="icon-instagram" href="https://instagram.com/quintil_valley" target="_blank")
	.c-boton
		button#nosotros Más sobre Quintil Valley
