section#modal.modal
	.modal-content
		h2 Somos
		p Tejedores de redes para la innovación y emprendimiento de alto impacto 
		p Nuestra empresa se especializa en el diseño y operación de estructuras y programas para la generación de nuevos negocios y emprendimientos, basados en conocimiento, tecnología e innovación.
		h2 Trabajamos
		p Inmersos en el ecosistema global de innovación y emprendimiento, apoyamos su desarrollo y articulamos su crecimiento.
		p Asistimos a empresas, universidades, gobiernos, emprendedores y otro tipo de organizaciones, para que aceleren y fortalezcan sus procesos de innovación.
		p Contamos con una red global de apoyo de especialistas para la ejecución de cada uno de nuestros programas, entregando así la mejor experiencia a nuestros clientes y aliados.
		h2 Lo nuestro es... 
		ul
			li Desarrollo y ejecución de programas de innovación abierta
			li Fortalecimiento de cartera y proyectos de innovación de empresas y emprendedores
			li Estudios y acciones de desarrollo de ecosistemas de innovación y emprendimiento
			li Apoyo al desarrollo de ecosistemas de emprendimiento e innovación universitarios
			li Programas de capacitación en innovación y emprendimiento
	.c-enterate
		a(class="boton" href="https://innovacionabiertaantofagasta.cl/blog/" target="_blank") Blog
		button#close.icon-close Cerrar