// Reset tamaño de tipografias

 //Tamaños de fuentes

$font-root: em(16px);
$title: $font-root * 2;
$sub-title: $font-root * 1.7;
$big-title: $font-root * 3;

$icon: $font-root * 3.5;

$light: 300; //Ancho de fuente
$normal: 400; //Ancho de fuente
$bold: 600;


h1{font-size: 2rem;}
h2{font-size: 1.75rem;}
h3{font-size: 1.5rem;}
h4{font-size: 1.25rem;}

h5, a, abbr, b, code, dfn, em, i, li, mark, p, pre, strong{
  font-size: 1rem;
}

h6, small{font-size: .75rem;}

// Importar íconos (sólo en casos excepcionales es necesario)

@font-face {
  font-family: "quintil";
  src:url("../fonts/quintil.eot");
  src:url("../fonts/quintil.eot?#iefix") format("embedded-opentype"),
    url("../fonts/quintil.woff") format("woff"),
    url("../fonts/quintil.ttf") format("truetype"),
    url("../fonts/quintil.svg#quintil") format("svg");
  font-weight: normal;
  font-style: normal;
}

// Importar Tipografía

@font-face{
  font-family: "Champagne";
  src: url(../fonts/champagne.eot) format('embedded-opentype'),
       url(../fonts/champagne.ttf) format('truetype'),
       url(../fonts/champagne.svg) format('svg'),
       url(../fonts/champagne.woff) format('woff'),
       url(../fonts/champagne.woff2) format('woff2');
}

$primary-font: 'Champagne', sans-serif;
$secondary-font: 'Champagne', sans-serif;

html {
  font-family: $primary-font;
  font-size: $font-root;
}

body{
  font-family: $primary-font;
}
 

