.modal{
	position: fixed;
	display: block;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: z-index(capa10);
	transform: scale3d(0,0,0);
	background-color: white;
	opacity: .9;
	&.zoom-in{
		animation: zoomIn .5s forwards;
		@keyframes zoomIn{
			to{
				transform: scale3d(1,1,1);
			}
		}
	}
	&.zoom-out{
		animation: zoomOut .5s forwards;
		@keyframes zoomOut{
			from{
				transform: scale3d(1,1,1);
			}
			to{
				transform: scale3d(0,0,0);
			}
		}
	}
	& button{
		@include boton-ovalado;
	}
}
